<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Product List</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<form class="container" th:action="@{/products/search}" method="get" >
    <input class="form-control flex-grow-1" type="search" name="searchText" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success flex-grow-1" type="submit">Search</button>
</form>
<div class="container">
    <h1 th:text=${title}></h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${listproduct}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td>
                <img height="120" width="150" src="@{/images/} + ${product.image}">
            </td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a> |
                <a th:href="@{/products/delete/{id}(id=${product.id})}"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>