<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Book</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit Book</h1>
  <form th:action="@{/staffs/edit/{id}(id=${staff.id})}" th:object="${staff}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="col-6 mb-3">
      <label class="form-label" for="name">Name</label>
      <input type="text" class="form-control bg-white" id="name" placeholder="Name" th:field="*{name}">
    </div>
<!--    <div class="col-6 mb-3">-->
<!--      <label class="form-label" for="sex">Sex</label>-->
<!--      <input type="text" class="form-control bg-white" id="sex" placeholder="Sex" th:field="*{sex}">-->
<!--    </div>-->
<!--    <div class="col-6 mb-3">-->
<!--      <label class="form-label" for="place">Place</label>-->
<!--      <input type="text" class="form-control bg-white" id="place" placeholder="Place" th:field="*{place}">-->
<!--    </div>-->
<!--    <div class="col-6 mb-3">-->
<!--      <label class="form-label" for="category">Phòng Ban</label>-->
<!--      <select class="form-control" id="category" th:field="*{category.maphongban}">-->
<!--        <option value=""> ==Select Category== </option>-->
<!--        <option th:each="category : ${categories}" th:value="${category.maphongban}"-->
<!--                th:text="${category.phongban}"></option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="col-6 mb-3">-->
<!--      <label class="form-label" for="luong">Luong</label>-->
<!--      <input type="text" class="form-control bg-white" id="luong" placeholder="Luong" th:field="*{luong}">-->
<!--    </div>-->
    <input type="submit" value="Save">
  </form>
  <br>
  <a th:href="@{/staffs}">Back to list</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
